{% extends 'base.html' %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
  <h2>@{{ user.username }}</h2>
  <h3>{{ user.get_full_name }}</h3>
  <p>This is some content for the page.</p>

  {% with profile=user.profile %}
    {% if profile %}
      <h4>{{ profile.persona|default:'' }}</h4>
      <div>{{ profile.bio|default:'' }}</div>
      <div>
        {% with website=profile.website|default:'' %}
          <a href="{{ website }}">{{ website }}</a>
        {% endwith %}
      </div>
      <br />
      <div>
        Interests:
        <br />
        {% for interest in profile.interests.all %}
          <span>{{ interest.name }}{% if not forloop.last %},{% endif %}</span>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}
