@font-face {
  font-family: "Nunito";
  src: url("../css/fonts/Nunito/Nunito-VariableFont_wght.woff2") format("woff2"),
    url("../css/fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../css/fonts/Nunito/Nunito-Italic-VariableFont_wght.woff2")
      format("woff2"),
    url("../css/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Hostgard";
  src: url("../css/fonts/Hostgard/HostgardPersonalUse-JpmZB.woff2")
      format("woff2"),
    url("../css/fonts/Hostgard/HostgardPersonalUse-JpmZB.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Tangerine";
  src: url("../css/fonts/Tangerine/Tangerine-Regular.woff2") format("woff2"),
    url("../css/fonts/Tangerine/Tangerine-Regular.ttf") format("truetype");
  font-weight: 100 400;
  font-style: normal;
}

@font-face {
  font-family: "Tangerine";
  src: url("../css/fonts/Tangerine/Tangerine-Bold.woff2") format("woff2"),
    url("../css/fonts/Tangerine/Tangerine-Bold.ttf") format("truetype");
  font-weight: 500 900;
  font-style: normal;
}

/* Source Sans Pro */

/* ExtraLight (200) */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

/* Light (300) */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Regular (400) */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* SemiBold (600) */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-Semibold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-SemiboldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Bold (700) */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Black (900) */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../css/fonts/SourceSansPro/SourceSansPro-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

.font-nunito {
  font-family: "Nunito", "Source Sans Pro", sans-serif;
}

.font-hostgard {
  font-family: "Hostgard", "Source Sans Pro", sans-serif;
}

.font-tangerine {
  font-family: "Tangerine", "Source Sans Pro", sans-serif;
}

.font-source-sans {
  font-family: "Source Sans Pro", sans-serif;
}
