#sidebar-nav .nav-link.active:not(.collapsed) {
  /* border-left: 4px solid gold !important;
  background-color: rgba(212, 199, 126, 0.664) !important; */

  /* border-left: 4px solid limegreen !important;
  background-color: rgba(228, 225, 179, 0.664) !important; */

  border-left: 4px solid rgb(82, 141, 4) !important;
  background-color: rgba(193, 219, 159, 0.61) !important;
}

.nav-parent {
  /* color: rgb(145, 111, 27); */
  /* color: rgb(115, 145, 77); */

  color: rgba(0, 0, 0, 0.74);
  border-left: 4px solid silver !important;

  background-color: rgba(223, 223, 223, 0.315) !important;
}

.nav-child1 {
  /* color: rgb(145, 111, 27); */
  /* color: rgb(115, 145, 77); */
  color: rgba(0, 0, 0, 0.74);
  font-size: small;
}

.nav-link-cstm.active-cstm {
  color: rgb(179, 226, 116);
  border-radius: 10px;
  border-color: violet;
}

@media (min-width: 992px) {
  .col-lg-cstm-1 {
    flex: 0 0 auto;
    width: 13%;
  }
}

.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%; /*(video height / video width) */
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* Important: Remove any default borders */
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.header-cstm {
  background-color: yellowgreen;
  padding: 2px;
}

.base-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.base-main-container {
  flex: 1;
}

.base-content-container {
  /* max-width: fit-content; */
  margin-left: auto;
  margin-right: auto;

  height: 100%;
  /* background-color: var(--bs-body-bg); */
  /* background-color: floralwhite; */
}

.portfolio-cstm {
  max-width: 1200px;
  color: black;
  padding: 1rem;
  /* background-color: floralwhite !important; */
  background-color: #eae6df !important;
}

.navbar-nav-scroll-cstm {
  height: 100vh; /* Full viewport height */
  overflow-y: scroll; /* Enable scrolling */
  overflow-x: hidden;
}
/* width */
.navbar-nav-scroll-cstm::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.navbar-nav-scroll-cstm::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px silver;
  border-radius: 2px;
}

/* Handle */
.navbar-nav-scroll-cstm::-webkit-scrollbar-thumb {
  background: rgba(70, 70, 70, 0.582);
  border-radius: 2px;
}

.footer-cstm {
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  width: 100%;
}

.footer-cstm a {
  color: #ddd;
  text-decoration: none;
  margin: 0 10px;
}

.footer-cstm a:hover {
  color: #fff;
}

#bg-cstm1 {
  background-image: url("../assets/img/bg1-19x25.jpg") !important;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: saturation;
  background-size: cover;
  background-position: center;
  /* margin: -1rem; */
  /* padding: 1rem; */
  color: white;
  min-height: 100%;
  width: 100%;
}

@media (min-width: 1950px) {
  #bg-cstm1 {
    background-image: url("../assets/img/bg1-30x40.jpg") !important;
    max-width: 3024px;
  }
}

.portfolio-content-style h1,
.portfolio-content-style h2,
.portfolio-content-style h3,
.portfolio-content-style h4 {
  font-weight: 400 !important;
}
