:root {
  --cstm-portfolio-bg: rgb(47, 51, 61);
  --cstm-portfolio-text: hsla(0, 0%, 100%, 0.8);
  --cstm-portfolio-text-title: black;
}

/* @font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

#xxdiv {
  font-family: myFirstFont;
} */

#sidebar-nav .nav-link.active:not(.collapsed) {
  /* border-left: 4px solid gold !important;
  background-color: rgba(212, 199, 126, 0.664) !important; */

  /* border-left: 4px solid limegreen !important;
  background-color: rgba(228, 225, 179, 0.664) !important; */

  border-left: 4px solid rgb(82, 141, 4) !important;
  background-color: rgba(193, 219, 159, 0.61) !important;
}

.cstm-fixed-top-button {
  position: fixed;
  /* top: 0.7rem;  */
  bottom: 0.5rem;
  left: 80px;
  width: calc(100% - 160px);
  z-index: 1044;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-parent {
  /* color: rgb(145, 111, 27); */
  /* color: rgb(115, 145, 77); */
  color: rgba(0, 0, 0, 0.74);

  /* border-left: 4px solid silver !important; */
  border-left: 4px solid rgba(206, 141, 141) !important;

  /* background-color: rgba(223, 223, 223, 0.315) !important; */
  background-color: rgba(248, 248, 248, 0.5) !important;
}

.nav-child1 {
  /* color: rgb(145, 111, 27); */
  /* color: rgb(115, 145, 77); */
  color: rgba(0, 0, 0, 0.74);
  /* color: #2d4773; */

  font-size: small;

  border-left: 2px solid silver !important;
}

.nav-link-cstm.active-cstm {
  color: rgb(179, 226, 116);
  border-radius: 10px;
  border-color: violet;
}

@media (min-width: 992px) {
  .col-lg-cstm-1 {
    flex: 0 0 auto;
    width: 13%;
  }
}

.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%; /*(video height / video width) */
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe,
.responsive-iframe-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.responsive-img-height {
  max-width: 100%;

  height: auto;
}

.header-cstm {
  background-color: yellowgreen;
  padding: 2px;
}

.base-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.base-main-container {
  flex: 1;
  background-color: rgba(var(--bs-dark-rgb), 1) !important;
  /* background-color: #001f44 !important; */
  /* background-color: #333332 !important; */
  display: grid;
}

.base-content-container {
  /* max-width: fit-content; */
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  /* background-color: var(--bs-body-bg); */
  /* background-color: floralwhite; */
  justify-items: center;
}

.portfolio-cstm {
  max-width: 1200px;
  /* --cstm-portfolio-text: hsla(0, 0%, 100%, 0.8); */
  /* color: black; */
  /* color: #2d4773; */
  color: var(--cstm-portfolio-text);
  padding: 1rem;
  /* background-color: floralwhite !important; */
  /* background-color: #eae6df !important; */

  /* background-color: #fbf8f2 !important; */
  /* background-color: #001f44 !important; */
  /* --cstm-portfolio-bg: rgb(47, 51, 61); */
  background-color: var(--cstm-portfolio-bg);
  word-wrap: break-word;
}

.portfolio-cstm h1,
.portfolio-cstm h2,
.portfolio-cstm h3,
.portfolio-cstm h4 {
  /* color: #0073e6; */
  /* color: royalblue; */
  color: var(--cstm-portfolio-text-title);
}

.portfolio-cstm-light {
  /* color: black; */
  /* color: #2d4773; */

  --cstm-portfolio-text: rgb(65, 45, 45) !important;
  /* background-color: floralwhite !important; */
  --cstm-portfolio-bg: #eae6df !important;
  /* background-color: #fbf8f2 !important; */
  /* --cstm-portfolio-text-title: rgb(110, 48, 48) !important; */
  /* --cstm-portfolio-text-title: rgb(3, 165, 11) !important; */
  --cstm-portfolio-text-title: rgb(3, 68, 165) !important;
}

.portfolio-cstm-dark {
  /* color: #b7c8e6; */
  --cstm-portfolio-text: hsla(0, 0%, 100%, 0.8) !important;
  /* background-color: #001f44 !important; */
  --cstm-portfolio-bg: rgb(47, 51, 61) !important;
  --cstm-portfolio-text-title: #ffd74b !important;
}

.navbar-nav-scroll-cstm {
  height: 100vh; /* Full viewport height */
  overflow-y: scroll; /* Enable scrolling */
  overflow-x: hidden;
}
/* width */
.navbar-nav-scroll-cstm::-webkit-scrollbar {
  width: 2px;
}

/* Track */
.navbar-nav-scroll-cstm::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px silver;
  border-radius: 2px;
}

/* Handle */
.navbar-nav-scroll-cstm::-webkit-scrollbar-thumb {
  background: rgba(70, 70, 70, 0.582);
  border-radius: 2px;
}

.footer-cstm {
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  width: 100%;
}

.footer-cstm a {
  color: #ddd;
  text-decoration: none;
  margin: 0 10px;
}

.footer-cstm a:hover {
  color: #fff;
}

#bg-cstm1 {
  background-image: url("../assets/img/bg1-19x25.jpg") !important;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: saturation;
  background-size: cover;
  background-position: center;
  /* margin: -1rem; */
  /* padding: 1rem; */
  color: white;
  min-height: 100%;

  width: 100%;
}

@media (min-width: 1950px) {
  #bg-cstm1 {
    background-image: url("../assets/img/bg1-30x40.jpg") !important;
    max-width: 3024px;
  }
}

.portfolio-content-style h1,
.portfolio-content-style h2,
.portfolio-content-style h3,
.portfolio-content-style h4 {
  font-weight: 400 !important;
}

.cstm-fs-1 {
  font-size: calc(3.5rem + 1.5vw) !important;
}

@media (min-width: 1200px) {
  .cstm-fs-1 {
    font-size: 5.5rem !important;
  }
}

img.cstm-icon1 {
  filter: invert(1); /* Make icon white from black */
  transition: filter 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}

/* 🟡 Hover Effect */
img.cstm-icon1:hover {
  filter: invert(1) drop-shadow(0px 0px 0.75rem rgba(255, 0, 0, 0.7));
  transform: scale(1.2);
  opacity: 0.9;
}

img.cstm-icon1:active {
  transform: scale(0.95);
  opacity: 0.7;
}

img.cstm-icon1-1:hover {
  filter: invert(1) drop-shadow(0px 0px 0.75rem rgba(255, 0, 0, 0.7));
}

img.cstm-icon1-2:hover {
  filter: invert(1) drop-shadow(0px 0px 0.75rem rgba(0, 195, 255, 0.7));
}

img.cstm-icon1-3:hover {
  filter: invert(1) drop-shadow(0px 0px 0.75rem rgba(102, 255, 0, 0.7));
}

img.cstm-icon1-4:hover {
  filter: invert(1) drop-shadow(0px 0px 0.75rem rgba(255, 0, 144, 0.7));
}

.cstm-border1 {
  border: 1px solid silver;
}
