{% extends 'base.html' %}
{% load static %}

{% block title %}
  Game Development Portfolio
{% endblock %}
{% block content %}
  <div class="container-fluid portfolio-cstm portfolio-cstm-light">
    <div class="row">
      <!-- Toggle Sidebar Button for Small Screens -->
      <button class="btn btn-outline-dark d-md-none my-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar-nav">☰ Contents</button>

      <!-- Sidebar -->
      <nav id="sidebar-nav" class="col-md-3 col-lg-2 d-md-block offcanvas-md offcanvas-start navbar navbar-nav-scroll-cstm sidebar-cstm d-flex flex-row sticky-md-top" data-bs-scroll="true">
        <div class="offcanvas-header d-md-none">
          <h5 class="offcanvas-title">Contents</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body">
          <ul class="nav flex-column">
            <a class="navbar-brand d-sm-none d-md-block" href="#">Contents</a>
            {% for section in sections %}
              <div class="pb-1">
                <li class="nav-item">
                  <a class="nav-link nav-parent" href="#{{ section.slug }}">
                    {% comment %}style="background-image: url('../static/assets/gamedev/images/image4.jpg');"{% endcomment %}
                    {% comment %} <div style="margin-left: -1rem; margin-right: -1rem; margin-top: -0.5rem;">
                      <img src="../static/assets/gamedev/images/image9.jpg" class="responsive-img" />
                    </div> {% endcomment %}
                    <div>{{ section.title }}</div>
                  </a>
                </li>
                {% for content in section.contents.all %}
                  <li class="nav-item">
                    <a class="nav-link ml-3 my-1 nav-child1" href="#{{ section.slug }}-{{ content.slug }}">{{ content.title }}</a>
                  </li>
                {% endfor %}
              </div>
            {% endfor %}
          </ul>
        </div>
      </nav>

      <!-- Main Content -->
      <main id="main-content" class="col-md-9 ms-sm-auto col-lg-10 px-md-3 portfolio-content-style">
        {% for section in sections|dictsort:'order' %}
          <section id="{{ section.slug }}">
            <span><img src="../static/assets/gamedev/images/image15.png" class="responsive-img" /></span>
            <h1>{{ section.title }}</h1>
            <p>{{ section.description|safe }}</p>

            {% for content in section.contents.all|dictsort:'order' %}
              <section id="{{ section.slug }}-{{ content.slug }}">
                <h3>{{ content.title }}</h3>
                <div style="word-wrap: break-word">{{ content.text|safe }}</div>
              </section>
            {% endfor %}
          </section>
        {% endfor %}
      </main>
    </div>
  </div>

  <script src="{% static 'js/sidebar_funcs.js' %}"></script>
{% endblock %}
