# .env for settings.py
SETTINGS_SECRET_KEY = django-insecure-7d!**vc-bn0cz4#qp&rhw!1po(^+uqkp#gvrgz+h3e#3^2-rb3

# initialize recaptcha using this guide: https://www.geeksforgeeks.org/how-to-add-google-recaptcha-to-django-forms/
RECAPTCHA_PUBLIC_KEY = Your_Site_Key
RECAPTCHA_PRIVATE_KEY = Your_Secret_key
