{% extends 'base.html' %}

{% block title %}
  Contact
{% endblock %}

{% block content %}
  <div>
    {% if contact_success %}
      <div class="alers alert-success" role="alert">Message Sent!</div>
    {% endif %}
    <h2>Contact</h2>
    <form method="post">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="alers alert-danger" role="alert">{{ form.non_field_errors }}</div>
      {% endif %}

      {% for field in form %}
        <div class="form-group">
          <div>
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
              <p class="help-block text-danger">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <br />
      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
