{% extends 'base.html' %}
{% load static %}
{% block title %}
  Home
{% endblock %}
{% block content %}
  <div id="bg-cstm1">
    <h2>Welcome to the Page! Welcome to the Page! Welcome to the Page! Welcome to the Page!</h2>

    {% comment %} <img class="img-fluid" src="{% static 'theme/assets/img/portfolio-2.jpg' %}" alt="..." />
    <img class="img-fluid" src="{% static 'theme/assets/img/portfolio-2.jpg' %}" alt="..." />
    <img class="img-fluid" src="{% static 'theme/assets/img/portfolio-2.jpg' %}" alt="..." />
    <img class="img-fluid" src="{% static 'theme/assets/img/portfolio-2.jpg' %}" alt="..." />
    <img class="img-fluid" src="{% static 'theme/assets/img/portfolio-2.jpg' %}" alt="..." /> {% endcomment %}

    <p>This is some content for the page.</p>
  </div>
{% endblock %}
