{% url 'public:index' as index_url %}
{% url 'public:about' as about_url %}
{% url 'public:contact' as contact_url %}
{% comment %} {% url 'portfolio:gamedev' as gamedev_url %} {% endcomment %}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark main-nav">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link nav-link-cstm font-tangerine fs-5" style="margin-bottom: -1rem; margin-top: -0.1rem; padding-right: 76px;" href="{{ index_url }}">Berat Ulutürk</a>
      </li>

      {% for portfolio in portfolios %}
        <li class="nav-item">
          <a class="nav-link nav-link-cstm" href="{% url 'portfolio:portfolio_detail' portfolio_slug=portfolio.slug %}">{{ portfolio.title }}</a>
        </li>
      {% endfor %}

      {% comment %} <li class="nav-item">
        <a class="nav-link nav-link-cstm" href="{{ about_url }}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-cstm" href="{{ contact_url }}">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-cstm" href="{{ gamedev_url }}">Game Development Portfolio</a>
      </li> {% endcomment %}

      <li class="nav-item">
        <span style="margin-left: 76px"></span>
      </li>

      {% comment %} <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown08">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> {% endcomment %}

      {% if user.is_authenticated %}
        {% url 'accounts:profile' as profile_url %}
        <li class="nav-item">
          {% if request.path == profile_url %}
            <a class="nav-link disabled" href="{{ profile_url }}">{{ user.username }}</a>
          {% else %}
            <a class="nav-link" href="{{ profile_url }}">{{ user.username }}</a>
          {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

<script>
  const currentURL = window.location.href.split('#')[0]
  document.querySelectorAll('.nav-link-cstm').forEach((link) => {
    const linkURL = link.href.split('#')[0]
    if (linkURL === currentURL) {
      link.classList.add('active-cstm')
    }
  })
</script>
