<!-- Navigation -->
<!--                                     
<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#page-top">Start Bootstrap</a>
    </li>
    <li class="sidebar-nav-item">
      <a href="#page-top">Home</a>
    </li>
    <li class="sidebar-nav-item">
      <a href="#about">About</a>
    </li>
    <li class="sidebar-nav-item">
      <a href="#services">Services</a>
    </li>
    <li class="sidebar-nav-item">
      <a href="#portfolio">Portfolio</a>
    </li>
    <li class="sidebar-nav-item">
      <a href="#contact">Contact</a>
    </li>
  </ul>
</nav>
                                     -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
    <ul class="navbar-nav">
      <li class="nav-item active">
        {% url 'public:index' as index_url %}
        <a class="nav-link" href="{{ index_url }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {% url 'public:about' as about_url %}
        <a class="nav-link" href="{{ about_url }}">About</a>
      </li>
      <li class="nav-item">
        {% url 'public:contact' as contact_url %}
        <a class="nav-link" href="{{ contact_url }}">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown08">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <span style="margin-left: 76px;"></span>
      </li>

      {% if user.is_authenticated %}
        {% url 'accounts:profile' as profile_url %}
        <li class="nav-item">
          {% if request.path == profile_url %}
            <a class="nav-link disabled" href="{{ profile_url }}">{{ user.username }}</a>
          {% else %}
            <a class="nav-link" href="{{ profile_url }}">{{ user.username }}</a>
          {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

{% comment %}
<nav>
  {% url 'public:index' as index_url %}
  <span>
    {% if request.path == index_url %}
      Home
    {% else %}
      <a href="{{ index_url }}">Home</a>
    {% endif %}
  </span>

  {% url 'public:about' as about_url %}
  <span>
    {% if request.path == about_url %}
      About
    {% else %}
      <a href="{{ about_url }}">About</a>
    {% endif %}
  </span>

  {% url 'public:contact' as contact_url %}
  <span>
    {% if request.path == contact_url %}
      Contact
    {% else %}
      <a href="{{ contact_url }}">Contact</a>
    {% endif %}
  </span>

  <span style="float:right">
    {% if user.is_authenticated %}
      {% url 'accounts:profile' as profile_url %}
      <span>
        Welcome Back!{% if request.path == profile_url %}
          {{ user.username }}
        {% else %}
          <a href="{{ profile_url }}">{{ user.username }}</a>
        {% endif %}
      </span>

      <span><a href="{% url 'accounts:logout' %}">Logout</a></span>
    {% else %}
      <span><a href="{% url 'accounts:login' %}">Login</a></span>
    {% endif %}
  </span>
</nav>
{% endcomment %}
